@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap");
@font-face {
  font-family: Beachday;
  src: url("../assets/fonts/beachday.ttf");
}
*, *:before, *:after {
  box-sizing: border-box;
}

/*HEADER*/
.headerContainer {
  width: 1170px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  font-family: "Baloo chettan 2", cursive;
}

/*SOCIAL MEDIA BUTTONS*/
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
  z-index: 15;
}

.socialButton {
  border-style: none;
  font-size: 18px;
  font-weight: bold;
  width: 206px;
  height: 55px;
  font-family: "Baloo chettan 2", cursive;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 25px 110px 30px;
  position: relative;
  text-decoration: none;
}
.socialButton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(180deg, rgba(51, 147, 223, 0.6), rgba(79, 68, 204, 0.6));
  background-color: rgba(51, 147, 223, 0.6);
  mix-blend-mode: multiply;
  border-radius: 5px;
  z-index: 1;
}
.socialButton:hover {
  transform: rotate(-8deg);
}
.socialButton:visited {
  color: white;
}
.socialButton span {
  position: relative;
  z-index: 2;
  color: white;
  mix-blend-mode: lighten;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.socialButton img {
  margin-right: 15px;
}

.buttonContainer {
  position: relative;
}

.pinkRect {
  width: 231px;
  height: 64px;
  background-color: rgba(252, 138, 178, 0.6);
  border-radius: 5px;
  position: absolute;
  left: 17px;
  top: -4px;
  transform: rotate(-8deg);
  z-index: 0;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 45px;
  height: 6px;
  margin: 8px auto;
  transition: all 0.3s ease-in-out;
  background-color: #f35b8e;
  border-radius: 2px;
}

header {
  padding-top: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /*SMALLER BUTTON STYLE FOR HEADER*/
}
header h1 {
  width: 340px;
  height: 242px;
  background-image: url("../img/PD_logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  font-size: 0;
}
header .socialButton {
  width: 185px;
  height: 50px;
}
header .pinkRect {
  width: 208px;
  height: 57px;
}

/*LANDING SECTION/VIDEO*/
.background {
  margin: 0 auto;
  margin-top: -140px;
  padding: 120px 0 40px 0;
  background-image: url("../img/bubbles.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55% 0%;
  width: 99vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.landing {
  text-align: center;
  margin: 0 auto;
  padding: 40px 5px 0px 5px;
  color: white;
  width: 800px;
  /*iframe{
      margin: 0 auto;
      border: 5px solid $pink;
      border-radius: $radiusSmall;
      width: 98%;
      height: auto;
  }*/
}
.landing .videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin: 0 auto;
}
.landing .videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 99%;
  border: 5px solid #f35b8e;
  border-radius: 5px;
  z-index: 0;
}
.landing .coming {
  font-size: 40px;
  margin-bottom: 10px;
}
.landing h2 {
  font-size: 40px;
  font-weight: bolder;
  margin: -8px 0 40px 0;
}
.landing p {
  font-size: 20px;
  text-align: left;
  padding: 0 15px 15px 15px;
}

/*MAIN SECTION*/
.mainContent, .teammembers .teamContainer {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 5px 25px 5px;
}
.mainContent h3, .teammembers .teamContainer h3 {
  color: #f35b8e;
  font-size: 40px;
  font-weight: bolder;
}
.mainContent h4, .teammembers .teamContainer h4 {
  color: #f35b8e;
  font-size: 28px;
  font-weight: normal;
}
.mainContent .feature, .teammembers .teamContainer .feature {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 50px 20px 65px 20px;
}
.mainContent .feature img, .teammembers .teamContainer .feature img {
  width: 436px;
  height: 243px;
}
.mainContent .feature .broadcast, .teammembers .teamContainer .feature .broadcast {
  border: 5px solid #f35b8e;
  border-radius: 5px;
}
.mainContent .feature .featureText, .teammembers .teamContainer .feature .featureText {
  width: 436px;
  font-size: 20px;
  margin: -10px 0 30px 0;
}
.mainContent .feature .featureText p, .teammembers .teamContainer .feature .featureText p {
  margin-top: -30px;
}

.connect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 12px solid #f35b8e;
  border-radius: 45px;
  margin: 120px 0 40px 0;
  padding-right: 40px;
  position: relative;
  background-image: linear-gradient(180deg, white, white, white, white, white, white, #f35b8e);
  background-position: 0% 100%;
}
.connect h3 {
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0 20px 0 30px;
}
.connect .socialButton {
  margin: 0 10px -40px 30px;
}
.connect .buttonContainer {
  margin: 50px 5px 50px 5px;
}
.connect .buttonsConnect {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.teammembers {
  background-color: #e3e6e9;
  margin: 0 auto;
}
.teammembers .teamContainer {
  padding-top: 5px;
}
.teammembers .openPositions {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: left;
  margin: -25px 0 25px 0;
}
.teammembers .openPositions div {
  margin: 0 20px;
}
.teammembers .openPositions p {
  margin: -30px 0 25px 0;
}

/*FOOTER*/
.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  color: white;
  padding: 20px 0 20px 0;
  margin: 0 auto;
  width: 1170px;
  font-size: 14px;
}
.footerContent .flex {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-top: 5px;
  flex-wrap: wrap;
}
.footerContent .footerLinks {
  width: 100%;
}
.footerContent .footerLinks a {
  color: white;
  margin-right: 10px;
}
.footerContent .footerLinks a:hover {
  color: #e3e6e9;
}
.footerContent .footerLinks a:visited {
  color: white;
}
.footerContent .frens p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 0 -10px 0;
}
.footerContent .frens h5 {
  font-family: "Beachday", letterbat;
  font-size: 38px;
  margin: 0;
  letter-spacing: 1.5px;
}

footer {
  background-image: linear-gradient(180deg, #3392de, #322a8f);
  width: 100%;
}

@media screen and (max-width: 800px) {
  .headerContainer {
    width: 95%;
  }

  header h1 {
    width: 255px;
    height: 181px;
    align-self: flex-start;
  }
  header .buttons {
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 10;
    transition: 0.3s;
  }

  .hamburger {
    position: relative;
    display: block;
    cursor: pointer;
    margin: -30px 20px 0 0;
    z-index: 15;
  }

  .background {
    width: 100%;
    margin-top: -100px;
  }

  .landing {
    width: 90%;
  }
  .landing .coming {
    font-size: 30x;
    margin: 10px 0 10px 0;
  }
  .landing h2 {
    font-size: 30px;
    margin-top: 10px;
  }
  .landing p {
    font-size: 18px;
    text-align: left;
    padding: 0 5px 15px 5px;
  }
  .landing iframe {
    z-index: 0;
  }

  .buttons.active {
    left: 0;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(14px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-14px) rotate(-45deg);
  }

  .mainContent, .teammembers .teamContainer {
    width: 90%;
    padding: 30px 0 25px 0;
  }
  .mainContent h3, .teammembers .teamContainer h3 {
    font-size: 28px;
  }
  .mainContent h4, .teammembers .teamContainer h4 {
    font-size: 24px;
  }
  .mainContent .feature, .teammembers .teamContainer .feature {
    flex-flow: column;
    justify-content: center;
    margin: 25px 10px 65px 10px;
  }
  .mainContent .feature img, .teammembers .teamContainer .feature img {
    margin: 15px 0;
    width: 98%;
    height: auto;
  }
  .mainContent .feature .featureText, .teammembers .teamContainer .feature .featureText {
    width: 98%;
    font-size: 18px;
    margin: -10px 0 5px 0;
  }
  .mainContent .feature .featureText p, .teammembers .teamContainer .feature .featureText p {
    margin-top: -25px;
  }
  .mainContent .reverse, .teammembers .teamContainer .reverse {
    flex-flow: column-reverse;
  }

  .connect {
    flex-flow: column;
    padding: 30px 10px 50px 10px;
    background-position: 0% 100%;
  }
  .connect h3 {
    font-size: 28px;
    margin: 0;
  }
  .connect .buttonsConnect {
    flex-direction: column;
  }

  .teammembers .openPositions {
    flex-flow: column;
  }
  .teammembers .openPositions h3 {
    font-size: 28px;
    margin-top: -15px;
  }
  .teammembers .openPositions div {
    width: 99%;
    margin: 0 20px;
  }

  .footerContent {
    flex-flow: column;
    justify-content: center;
    width: 90%;
  }

  .footerLinks {
    width: 90%;
    padding: 0 20px;
    margin: 0 5px;
  }
  .footerLinks a {
    color: white;
    margin-right: 10px;
  }
  .footerLinks a:hover {
    color: #e3e6e9;
  }
  .footerLinks a:visited {
    color: white;
  }

  .frens {
    align-self: flex-start;
  }
}/*# sourceMappingURL=style.css.map */